<div id="gameDesign">
    <div id="homeButton"
         (click)="homeButtonClicked()">
        <i class="fas fa-home"></i>
    </div>
    <div id="headingAndDescription">
        <div id="heading">
            Game Designs
        </div>
        <div *ngIf="gameDesignToShow === 'none'"
             id="description">
            Click the names on the left
        </div>
    </div>
    <div id="currentDesign">
        <app-project-pandora *ngIf="gameDesignToShow === 'project-pandora'">
        </app-project-pandora>
    </div>

    <div id="designSideMenu">
        <div class="designButton"
             [ngClass]="{'active': gameDesignToShow === 'project-pandora'}"
             (click)="designClicked('project-pandora')">
            Project Pandora
        </div>
    </div>
</div>
