<div id="landing">
    <div id="benTaylor">
        Ben Taylor
    </div>
    <div id="explanation">
        I'll add some stuff to this page eventually.<br />
        But for now I can't be bothered.<br />
        Go to projects if you want to see my stuff.
    </div>
    <div id="projectsButton"
    (click)="projectsButtonClicked()">
        Projects
    </div>
    <div id="githubChart">
        <img src="http://ghchart.rshah.org/BenTaylorPublic"
             alt="BenTaylorPublic's Github chart" />
    </div>
</div>
