<div id="landing">
    <div id="benTaylor">
        Ben Taylor
    </div>
    <div id="aboutMe">
        I'm a full stack dev, and I play a heap of games.
    </div>
    <div class="pageButton"
         (click)="projectsButtonClicked()">
        Projects
    </div>
<!--    <div class="pageButton"-->
<!--         (click)="gameDesignButtonClicked()">-->
<!--        Game Designs-->
<!--    </div>-->
    <div id="connections">
        <div id="github"
             class="connection"
             (click)="githubClicked()">
            <i class="fab fa-github"></i>
        </div>
    </div>
</div>
