<div id="landing">
    <div id="screenSizeDiv">
        <div id="textGroupSection">
            <div class="textGroup">
                <div>
                    GAMER
                </div>
                <div>
                    FULL STACK DEV
                </div>
            </div>
            <div id="benTaylor">
                BEN TAYLOR
            </div>
            <div class="textGroup">
                <div>
                    DESIGNER
                </div>
                <div>
                    EDITOR
                </div>
            </div>
        </div>
    </div>
</div>
