@use "sass:math";

$sectionMarginTops: 40px;
$projectCardHeight: 250px;
$projectCardWidth: 370px;
$projectCardMobile: 90vw;

a {
  color: white;
  text-decoration: none;
}

#bio {
  padding-top: 20px;
  text-align: center;
}

#skills {
  max-width: 810px;
  margin: $sectionMarginTops auto auto auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .skillColumnWrapper {
    display: flex;
    justify-content: center;
    width: 405px;
  }

  .skillColumn {
  }
}

#projects {
  margin-top: $sectionMarginTops;

  #projectsHeading {
    text-align: center;
  }

  #projectCards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .projectCard {
      margin: 15px;
      border-radius: 5px;
      background-color: #414141;
      overflow: hidden;
      position: relative;

      .projectCardDefault {
        opacity: 1;
      }

      .projectCardHover {
        opacity: 0;
      }

      &:hover {
        .projectCardDefault {
          transform: scale(1.2);
          opacity: 0;
        }

        .projectCardHover {
          opacity: 1;
        }
      }

      .projectCardChild {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;

        &:not(.preload) {
          transition: 0.5s ease;
          transition-property: opacity, transform;
        }

        .header {
          padding-top: 10px;
        }

        .description {
          padding: 10px;
        }

        img {
          height: 100%;
        }

        .projectCardLinksBox {
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          justify-content: space-around;

          a {
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}


#connections {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: $sectionMarginTops;
  user-select: none;

  .connection {
    cursor: pointer;
    font-size: 60px;
    width: 80px;
    text-align: center;
  }
}


body:not(.mobile) {
  font-size: 14px;
  line-height: 25px;

  .projectCard {
    width: $projectCardWidth;
    height: $projectCardHeight;
  }
}

body.mobile {
  font-size: 38px;
  line-height: 56px;

  .projectCard {
    width: $projectCardMobile;
    height: math.div($projectCardHeight, $projectCardWidth) * $projectCardMobile;
  }
}