#projectPandora {
    text-align: left;
    width: calc(100% - 420px);
    min-width: 500px;
    margin: auto auto auto 210px;
    max-height: 100%;
    overflow: auto;
}

details {
    summary {
        outline: none;
        font-size: 25px;
    }
}

.nestedSummary {
    margin-left: 50px;
}

ul {
    list-style-position: inside;
}

hr {
    border: 1px solid #666666;
}

a:link, a:visited {
    border: none;
    text-align: center;
    //text-decoration: none;
    text-underline: white;
    color: white;
}

img {
    max-width: 500px;
}
