<meta charset="UTF-8">
<script>var exports = {};</script>
<script defer src="/portfolio/shared.bundle.js"></script>
<link href="/portfolio/global-styles.css" rel="stylesheet" type="text/css">
<script crossorigin="anonymous" src="https://kit.fontawesome.com/c1aeddd9d4.js"
        onerror="   let iconStyle = document.createElement('style');
                    iconStyle.innerHTML = '[class*=\'fa-\']:before {content: \'?\';}';
                    document.getElementsByTagName('head')[0].appendChild(iconStyle);"
></script>