body {
  font-family: "Menlo", sans-serif;
  color: white;
  background-color: #000000;
}

a:visited {
  color: white;
}

#benTaylor {
  height: 100px;
  line-height: 100px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

#bio {
  width: 100%;
  text-align: center;
  user-select: text;
}

#connections {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}
#connections .connection {
  cursor: pointer;
  font-size: 60px;
}
