body {
  font-family: "Menlo", sans-serif;
  color: white;
  background-color: #000000;
}

a:visited {
  color: white;
}

#bio {
  width: 100%;
  text-align: center;
  user-select: text;
}

#connections {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;

  .connection {
    cursor: pointer;
    font-size: 60px;
  }
}
