$sectionMarginTops: 40px;
$projectCardHeight: 250px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Menlo", sans-serif;
  color: white;
  background-color: #000000;
}

#bio {
  text-align: center;
}

#skills {
  max-width: 600px;
  margin: $sectionMarginTops auto auto auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .skillColumnWrapper {
    display: flex;
    justify-content: center;
    width: 210px;
  }

  .skillColumn {
  }
}

#projects {
  margin-top: $sectionMarginTops;

  #projectsHeading {
    text-align: center;
  }

  #projectCards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .projectCard {
      margin: 15px;
      width: 370px;
      height: $projectCardHeight;
      border-radius: 5px;
      background-color: rebeccapurple;
      overflow: hidden;
      position: relative;

      &:hover {
        .projectCardDefault {
          opacity: 0;
        }

        .projectCardHover {
          opacity: 1;
        }
      }

      .projectCardChild {
        position: absolute;
        transition: .5s ease;
        height: 100%;
        width: 100%;
        text-align: center;
        cursor: pointer;
        user-select: none;

        .header {
          padding-top: 10px;
        }

        .description {
          padding: 10px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .projectCardDefault {
        opacity: 1;
      }

      .projectCardHover {
        opacity: 0;
      }
    }
  }
}


#connections {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: $sectionMarginTops;
  user-select: none;

  a:visited {
    color: white;
  }

  .connection {
    cursor: pointer;
    font-size: 60px;
    width: 80px;
    text-align: center;
  }
}
