<div id="eveDotaMmo">
    <h1>
        EVE DotA MMO
    </h1>

    <details>
        <summary>Preface</summary>
        A lot of this game design is inspired by <a href="https://www.eveonline.com/">EVE</a>, with the combat system of
        <a href="https://dota2.com">DotA</a> and <a href="https://arena.battlerite.com/">Battlerite</a>.<br/>
        If you're at all interested in this concept, I suggest giving them both a try if you haven't already!
    </details>

    <hr/>

    <details>
        <summary>Scope</summary>
        This project is an MMO. It probably con't have a larger scope than that. It's target system is computers.
    </details>

    <hr/>

    <details>
        <summary>Art style & Controls</summary>
        Basic art style:
        <ul>
            <li>Top down</li>
            <li>You control 1 character, in a mech suit</li>
            <li>3D (EG: DotAish)</li>
            <li>Screen is always centered on your character</li>
        </ul>
        Controls:
        <ul>
            <li>WASD Character movement</li>
            <li>Skill direction & target selection with mouse</li>
            <li>Keybinds & clicking to active modules/spells</li>
        </ul>
    </details>

    <hr/>

    <details>
        <summary>Gameplay</summary>
        <details class="nestedSummary">
            <summary>Basics</summary>
            When you log on, you will be in a base.<br/>
            You have an armory of mech suits, which facilitate your movement once you leave the base.<br/>
            After you've departed the base in a mech suit, if you die, all items you are carrying & the mech suit are
            lost.<br/>
            A percentage of the items (RNG) will be destroyed, the rest will be drop, or drop the parts that make it up.<br/>
            It is open world FFA PVP, your only allies are your player made alliances.
        </details>
        <details class="nestedSummary">
            <summary>Economy</summary>
            Like in EVE, the gameplay is driven by the economy.<br/>
            There are regional markets, in every zone, and in every player owned base (explained in Building
            section)<br/>
            All markets orders are by players, for players. No NPC will buy and items.<br/>
            The market is a buy & sell order market.<br/>
            The buyer/seller pays for the market tax (around 3%) when listing the buy/sell order. This stops extensive
            undercutting like in the WoW market.<br/>
            Items you have in base X, are only sellable to orders in that base. No Remote trading.
        </details>
        <details class="nestedSummary">
            <summary>Gear (Mech Suits)</summary>
            The mech suit is the equivalent of an EVE space ship. They are the suit in which gives you movement.<br/>
            You are required to be in a mech suit for when you leave your base. Mech suits vary in size and cost, driven
            by the player market.<br/>
            Mech suits collide with other mech suits (EG: DotA blocking with other players) No collision damage, just
            stops movement.<br/>
            Way larger mech suits will be able to push other players (small amounts of physics)<br/>
            The largest mech suit will be around 10 times the size of the smallest<br/>
            The larger mech suits will also have a further zoomed out camera to help with control<br/>
            Mech suits are equipped with modules, like guns/swords/lasers/mining drills/seige rams/NOS boosting
            rockets/Knock back weapon etc<br/>
            Mech suits fill roles, like tank/damage/healer/hauling/mining/spying etc<br/>
            When you die in a mech suit, like in EVE, certain parts of it (and modules) drop, some are destroyed
            (RNG)
        </details>
        <details class="nestedSummary">
            <summary>Map Regions</summary>
            The map is broken up into 3 major region types:<br/>
            <b>High Security:</b>
            <ul>
                <li>Police kill anyone attacking anyone else</li>
                <li>Loot/Ore/Other income methods reduced amount</li>
            </ul>
            <b>Low Security:</b>
            <ul>
                <li>Attacking anyone lowers your reputation, once below a threshold, you'll be killed on site (by
                    police) when entering Highsec
                </li>
                <li>Getting your reputation back up requires good deeds (killing NPC pirates or donating money)</li>
                <li>Loot/Ore/Other income methods average/median amount
                </li>
            </ul>
            <b>No Security:</b>
            <ul>
                <li>Wild west, no rep loss on killing people</li>
                <li>Loot/Ore/Other income methods increased amount</li>
                <li>The ability to build PLAYER OWNED BASES (continued below)</li>
            </ul>
            High security will be in the middle of the map, and facilitates the new player experience, so they can learn
            in safety.<br/>
            Outside high security, is a ring of low security regions, which allows pvp and skirmishing, with the
            relative safety of high security to retreat to<br/>
            Then, outside low security, is the ring of no security, for player alliances to own land and fend for
            themselves in alliance wars, for more land control (and the resources that come with it).
        </details>
        <details class="nestedSummary">
            <summary>Building</summary>

            In No Security regions, players can build their own structures.
            These include
            <ul>
                <li>Bases, for you to safely store items</li>
                <li>Walls</li>
                <li>Towers/turrets</li>
                <li>Resource generators like mines</li>
                <li>Market place</li>
                <li>Refineries and work shops</li>
            </ul>
            Defending these structures is obviously an important way to be safe within your area.<br/>
            Defence is designed to allow fights over an objective, whilst also discouraging attacking in inactive time
            zones.<br/>
            You're not able to just destroy a wall in a session, and run rampant while your enemies are sleeping.<br/>
            When you attack a structure, if you're able to do 20% damage, the structure is reinforced with a shield for
            6 hours.<br/>
            After the 6 hours is up, it's able to be damaged for the following 30m.<br/>
            During this time, you must do another 20% (of max hp) to make it reinforce again.<br/>
            If less than 5 minutes is left on the timer, any damage will extend the timer to 5 minutes.<br/>
            This reinforce repeats 4 times, so a total of 24 hours of reinforcing.<br/>
            If at any point you're unable to do the 20% hp required, it is healed up, by 20%, thus setting the attackers
            back by 1 reinforce cycle (6h).<br/>
            This defence strategy is designed to encourage attacking and defending in all time zones, rather than just
            attacking in the least active
        </details>
    </details>

    <hr/>

    <details>
        <summary>Story</summary>
        <img src="assets/laughing.jpeg">
    </details>

    <hr/>

</div>
