<div id="eveDotaMmo">
    <pre>
        Starting with the basic art style, so you can imagine the rest of the gameplay along with me:
            - Top down
            - You control 1 character, in a mech suit of varying size
            - 3D gameplay (EG: DotAish)

        The premise for the EVE DotA MMO is pretty simple.

        I love EVE Online, and I think it's a very well designed MMO, hence why it's still active 16+ years after release.
        What's holding it back is it's overcomplicated combat and UI, not because they're too hard,
        but because new players can't learn quick enough to enjoy it.
        I propose to take the best bits from EVE:
            - Market
            - Loss of all items/equipment on death
            - Open world FFA PVP
            - Extremely large scale of ships/gear (Frigate -> Destroyer -> Cruiser -> Battlecruiser -> Battleship -> Capital)
            - Not locking content to X amount of people per group (no min, no max)

        Because objects in space are usually so far away that you can't see them, EVE represents ships with icons and tables of distances and ship names
        Bringing the world into a flat top down perspective will add a new level of clarity to the combat

        You simply equip a mech suit, when you leave your base (your items/suits are safe in bases)
        Mech suits vary in size and cost (player driven market, from mining ore, hauling it, manufacturing into items, building into suits)
        Mech suits collide with other mech suits (EG: DotA blocking with other players + other NPCs) No collision damage, just stops movement
        Way larger mech suits will be able to push people (small amounts of physics)
        The largest mech suit will be around 10 times the size of the smallest
        The larger mech suits will also have a further zoomed out camera to help with control
        This limit of 10*small size can't be any bigger because you will have trouble visually representing the small suits
        Mech suits are equipped with modules, like guns/swords/lasers/mining drills/seige rams/NOS boosting rockets/Knock back weapon etc
        Mech suits fill roles, like tank/damage/healer/hauling/mining/spying etc
        When you die in a mech suit, like in EVE, certain parts of it (and modules) drop, some are destroyed (RNG)

        A majority of the combat should be DotA like, with team damage on for a lot of skillshots/projectiles

        I would copy the Highsec/Lowsec/Nullsec from EVE (but rename it)
        Highsec:
            Police kill anyone attacking anyone else
            Loot/Ore/Other income methods reduced amount
        Lowsec:
            Attacking anyone lowers your reputation, once below a threshold, you'll be killed on site when entering Highsec
            Getting your reputation back up requires good deeds (killing NPC pirates or donating money)
            Loot/Ore/Other income methods average/median amount
        Nullsec:
            Wild west, no rep loss on killing people
            Loot/Ore/Other income methods increased amount
            The ability to build PLAYER OWNED BASES

        I imagine in the future, the equivalent of Wormholes in eve, should be implemented (just connect zone A to zone B temporarily through some rift)
        NOT actually having WH space. Because Local won't be a thing anyway (just chat goes to people within X Meters of you)

        These PLAYER OWNED BASES, in Nullsec, is the cool part
        Because in a top down world, you can have walls, towers, gates etc, all built by players, block by block (not just space station X)

        Defending these structures is obviously an important way to be safe within your area
        Defence is designed to allow fights over an objective, whilst also discouraging attacking in inactive time zones
        You're not able to just destroy a wall in a session, and run rampant while your enemies are sleeping
        When you attack a structure, if you're able to do 20% damage, the structure is reinforced with a shield for 18 hours
        After the 18 hours is up, it's able to be damaged for the following 30m
        During this time, you must do another 20% (of max hp) to make it reinforce again
        If less than 5 minutes is left on the timer, any damage will extend the timer to 5 minutes
        This reinforce repeats 5 times, so a total of 72 hours of reinforcing
        This means that the last 20% hp will be fought in the same time zone as the original attack
        If at any point you're unable to do the 20% hp required, it is healed up, by 20%, thus setting the attackers back by 1 reinforce cycle (18h)
        This defence strategy is designed to encourage attacking and defending in all time zones, rather than just attacking in the least active
    </pre>
</div>
